@{
    ViewData["Title"] = "Регистрация";
}

<div class="text-center">
    <form id="registration" class="form-control">
        <div class="row align-items-right">
            <div class="col-auto">
                <a class="btn btn-primary form-control" asp-action="Login">Войти в профиль</a>
            </div>
        </div>
        <div class="form-label col-form-label">Регистрация</div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Имя</label>
            </div>
            <div class="col-auto">
                <input type="type" class="form-control" name="name" value="" placeholder="Иван"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label col-auto m-0">Фамилия</label>
            </div>
            <div class="col-auto">
                <input type="type" class="form-control col" name="surname" value="" placeholder="Иванов"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Город</label>
            </div>
            <div class="col-auto d-flex align-items-center">
                <input class="form-control m-0" list="citylistOptions" id="cityList" placeholder="Введите название города">
                <datalist id="citylistOptions">
                    <option value="San Francisco"></option>
                    <option value="New York"></option>
                    <option value="Seattle"></option>
                    <option value="Los Angeles"></option>
                    <option value="Chicago"></option>
                </datalist>            
            </div>
        </div>
        <div class="row align-itemns-center mb-3">
            <div class="col-auto">
                <label class="form-label ">Пол</label>
            </div>
            <div class="form-check form-check-inline col-auto">
                <input class="form-check-input" type="radio" name="radioM" id="radio1">
                <label class="form-check-label" for="radio1">М</label>
            </div> 
            <div class="form-check form-check-inline col-auto">
                <input class="form-check-input" type="radio" name="radioW" id="radio2">
                <label class="form-check-label" for="radio2">Ж</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Дата рождения</label>
            </div>
            <div class="col-auto">
                <select id="yearState" class="form-select">
                </select>
            </div>
            <div class="col-auto">
                <select id="monthState" class="form-select">
                </select>
            </div>
            <div class="col-auto">
                <select id="dayState" class="form-select">
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Телефон</label>
            </div>
            <div class="col-auto d-flex align-items-center">
                <input class="form-control m-0" name="telephone" type="tel" placeholder="89008007060">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">E-mail</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="email" type="email" placeholder="Ivan@mail.ru">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Пароль</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="password" type="password" placeholder="Пароль">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-flex align-items-center">
                <label class="form-label m-0">Повтор пароля</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="password_repeat" type="password" placeholder="Пароль">
            </div>
        </div>
        
        <a class="btn btn-success" asp-action="Registration">Зарегистрироваться</a>
    </form>
</div>